[build]
    command = "hugo --minify"
    publish = "public"

[build.environment]
    HUGO_VERSION = "0.55.0"

[context.production.environment]
    HUGO_ENV = "production"
    NODE_ENV = "production"
