// Colors
$blue: #031a6b;
$info: #dd7373;
$light: #fcf7f7;
$body-color: #333333;
$headings-color: #000b32;
$border-color: #e5e5f0;
$hr-border-color: $border-color;
$list-group-border-color: $border-color;
$card-border-color: $border-color;

// Button
$btn-border-width: 2px;

// Alert
$alert-border-level: -10;