<footer class="bg-light mt-4 py-4">
  <div class="container d-flex w-100 justify-content-between">
    <!-- <span class="text-muted"
      >This page was last updated on {{ .Lastmod.Format "Jan 02 2006" }}. <br />
      {{ with.GitInfo }}
      <a href="{{ $.Site.Params.ghrepo }}commit/{{ .Hash }}"
        >{{ .Subject }} ({{ .AbbreviatedHash }})</a
      >
      {{ end }} <br />
      <a href="{{.Site.Params.ghrepo}}edit/master/content/{{.File.Path}}"
        >Improve this page</a
      >
    </span> -->
    <p class="text-info mb-0">Have a nice day!</p>
    <a href="/about/">About Site</a>
  </div>
</footer>
