<header class="navbar navbar-expand-lg navbar-dark bg-primary" role="banner">
  <div class="container">
    <a class="navbar-brand" title="Simplified Schema" href="/">
      <img src="/images/logo-white.png" alt="Simplified Schema's Logo" width="175" style="width: 175px;" />
    </a>
    <a class="btn btn-link sr-only sr-only-focusable text-white" role="alert" tabindex="1" href="#main">Skip to Main Content</a>
    <a class="btn btn-link sr-only sr-only-focusable text-white" role="alert" tabindex="2" href="#navigation">Skip to Schema List</a>
    <div>
      <a class="btn btn-link text-light d-none d-md-inline" href="https://search.google.com/structured-data/testing-tool/" target="_blank" role="button">Testing Tool</a>
      <a class="btn btn-link text-light mr-1" href="/articles/" role="button">Articles</a>
      <a class="btn btn-outline-light" href="{{ $.Site.Params.ghrepo }}" role="button">GitHub</a>
    </div>
  </div>
</header>
