<!-- Titles of the page -->
<title itemprop="name">{{ .Title }}</title> <meta property="og:title" content="{{ .Title }}" />
<meta name="twitter:title" content="{{ .Title }}" /> <meta itemprop="name" content="{{ .Title }}" />
<meta name="application-name" content="{{ .Title }}" />
<meta property="og:site_name" content="{{ .Site.Params.sitename }}" />

<!-- Descriptions of the page -->
<meta name="description" content="{{ .Params.description }}" />
<meta itemprop="description" content="{{ .Params.description }}" />
<meta property="og:description" content="{{ .Params.description }}" />
<meta name="twitter:description" content="{{ .Params.description }}" />

<!-- Links of the page -->
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" /> <meta property="url" content="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}" /> <meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />

<!-- Styles of the Page -->
{{ partial "css" . }}

<!-- Image of the page -->
<meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
<meta name="twitter:image:src" content="{{ .Site.Params.ogimage | absURL }}" />
<meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}" />
<meta name="twitter:image" content="{{ .Site.Params.ogimage | absURL }}" />

<!-- Sitemap & RSS Feed Links -->
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" /> {{ if .RSSLink }}
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" /> {{ end }}

<!-- All Favicons -->
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="152x152" href="/favicons/favicon-152-precomposed.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/favicons/favicon-144-precomposed.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/favicons/favicon-120-precomposed.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/favicons/favicon-114-precomposed.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/favicon-180-precomposed.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/favicons/favicon-72-precomposed.png" />
<link rel="apple-touch-icon" href="/favicons/favicon-57.png" />
<link rel="icon" href="/favicons/favicon-32.png" sizes="32x32" />
<link rel="icon" sizes="192x192" href="/favicons/favicon-192.png" />

<!-- Static Meta -->
<meta name="keywords" content="schema, json-ld, schema.org, SERP, microdata, Structured Data" />
<meta name="twitter:card" content="summary_large_image" /> <meta name="twitter:site" content="@praveenjuge" />
<meta name="twitter:creator" content="@praveenjuge" /> <meta name="theme-color" content="#031a6b" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="manifest" href="{{ .Site.BaseURL }}manifest.json" />

<meta name="robots" content="index,follow" /> <meta name="googlebot" content="index,follow" />
