{{ define "main" }}
<section class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div class="mb-4 py-5">
        <h1>{{ .Title }}</h1>
        <p class="mb-0 text-muted">{{ .Description }}</p>
      </div>
      <div class="text-wrap">{{ .Content }}</div>
      <div class="alert alert-info my-5" role="alert">
        Anything missing? You can edit this page
        <a href="{{.Site.Params.ghrepo}}edit/master/content/{{.File.Path}}" class="alert-link">here</a>.
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="sticky-top py-5">
        {{ partial "schema-list" . }}
      </div>
    </div>
  </div>
</section>
{{ end }}
